POSTGRES_DB=crm
POSTGRES_USER=crm
POSTGRES_PASSWORD=crm_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=55432
REDIS_PORT=6379

DATABASE_URL=postgresql+psycopg://crm:crm_dev_password@localhost:55432/crm

JWT_SECRET_KEY=fR9PizzhQ2zooSEfywQY3IdBMqbzjPhdIp368OU_Qt1TOfuax2-mDjxV6Wkt8O1dj3GcQtasxokvehDF-M_ccg
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30